/*======= Font =======*/
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
/*==============================*/

body{
	background-color: #202124;
}
p{
	text-align: right;
	color: white;
	margin: 25px 20px;
	font-size: 15px;
	font-family: Changa;
}
img{
	display: block;
  margin: 25px auto;
  width: 300px;
}
h1{
	text-align: left;
	color: white;
	margin: 10px 20px;
	font-size: 35px;
	font-family: Changa;
	padding-right: 15px;
}
.btn{
  padding: 8px 24px;
  text-align: center;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 15px 10px;
  font-family: Changa;
}

.btn2 {
  background-color: #202124; 
  border: 2px solid #008CBA;
  color: white;
}

.btn2:hover {
  background-color: #008CBA;
}

.btn2:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px; 
}

.btn3 {
  background-color: #202124; 
  border: 2px solid #f44336;
  color: white;
}

.btn3:hover {
  background-color: #f44336;
}

.btn3:focus {
  box-shadow: rgba(255,0,0, .1) 0 0 0 1px inset, rgba(255,0,0, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(220,20,60, .3) 0 0 0 4px; 
}

.btn4 {
  background-color: #202124; 
  border: 2px solid #e7e7e7;
  color: white;
  margin-left: 10%;
  margin-right: 10%;

}

.btn4:hover {
  background-color: #e7e7e7;
  color: black;
  font-weight: bolder;
}

.btn4:focus {
  box-shadow: rgba(212, 212, 212, .1) 0 0 0 1px inset, rgba(212, 212, 212, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(212, 212, 212, .3) 0 0 0 4px; 
}

.im{
	background-color: #303134;
}
footer{
	background-color: #303134;
	color: white;
	font-family: Changa;
	text-align: center;
}
iframe{
	 width: 90%;
	 height: 480px;
}
#bord1{
	border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#bord2{
	border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
@media screen and (max-width: 650px) {
	.btn4 {
  	margin-left: 4%;
  	margin-right: 4%;
	}
}
@media screen and (max-width: 520px) {
	.btn{
		font-size: 14px;
  	padding: 4px 10px;
	}
	.btn4 {
		margin-left: 1.5%;
  	margin-right: 1.5%;
	}
}
@media screen and (max-width: 400px) {
	.btn{
  	  font-size: 12px;
  	  padding: 3px 5px;
	}
	.btn4 {
		margin-left: 0.75%;
  	margin-right: 0.75%;
	}
}
@media screen and (max-width: 300px) {
	.btn{
  	  font-size: 9px;
  	  padding: 3px 5px;
  	  margin: 5px;
	}
}
@media screen and (max-width: 190px) {
	.btn{
  	  font-size: 5px;
  	  padding: 1px 3px;
  	  margin: 3px;
	}
}
